@import "../basic_styles/basic_styles";
p{
  color: $text;
  font-family: sans-serif;
}

.certificate{
  background: $surface;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  .container-max-width{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    .block_cert{
      &:first-child{
        background-image: url("../../images/bg_card_what_is_cert_1.jpg");
      }
      &:nth-child(2){
        background-image: url("../../images/bg_card_what_is_cert_2.jpg");
      }
      &:last-child{
        background-image: url("../../images/bg_card_what_is_cert_3.jpg");
      }
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: $basic_shadow;
      cursor: pointer;
      min-height: 200px;
      border-radius: 8px;
      padding: 32px;
      transition: transform .4s ease-in-out;
      h4{
        color: $link;
        font-size: 24px;
      }
      &:hover{
        transform: translateY(-20px);
        transition: transform .4s ease-in-out;
      }
    }
  }
}



.other-info{
  display: flex;
  justify-content: center;
  padding:40px 0 120px 0;
  background: $surface;
  .container-max-width{
    display: flex;
    flex-direction: column;
    gap: 120px;

    .directions{
      display: grid;
      grid-template-columns: repeat(3, minmax(200px, 1fr));
      gap: 24px;

      .direction{
        cursor: pointer;
        min-height: 200px;
        padding: 28px 32px;
        border-radius: 8px;
        display: flex;
        align-items: end;
        h4{
          color: $white;
          font-size: 18px;
        }
        background-repeat: no-repeat;
        background-size: cover;
        &:nth-child(1){
          background-image: url("../../images/direction_bg/direction_1.png");
        }
        &:nth-child(2){
          background-image: url("../../images/direction_bg/direction_2.png");
        }
        &:nth-child(3){
          background-image: url("../../images/direction_bg/direction_3.png");
        }
        &:nth-child(4){
          background-image: url("../../images/direction_bg/direction_4.png");
        }
        &:nth-child(5){
          background-image: url("../../images/direction_bg/direction_5.png");
        }
        &:nth-child(6){
          background-image: url("../../images/direction_bg/direction_6.png");
        }
      }
    }

    .sign-in-dopedu{
      position: relative;
      background: $gradient;
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding: 48px 40px;
      border-radius: 15px;
      h3{
        color: $white;
        font-size: 22px;
      }
      button{
        cursor: pointer;
        width: max-content;
        color: $link;
        padding: 10px 20px;
        border-radius: 6px;
        font-size: 16px;
      }
      img{
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    .contacts{
      display: grid;
      grid-template-columns: repeat(3, minmax(200px, 1fr));
      gap: 24px;
      .contact{
        display: flex;
        justify-content: space-between;
        border-radius: 15px;
        background: $white;
        padding: 28px 32px;
        gap: 15px;
        align-items: center;
        cursor: pointer;
        .contact_text{
          h4{
            color: $link;
            font-size: 18px;
          }
          p.desc{
            color: $system_dark;
            font-size: 16px
          }
        }

      }
    }
  }
}
