@import "../basic_styles/basic_styles";
p{
  color: $text;
  font-family: sans-serif;
}

footer{
  display: flex;
  justify-content: center;
  background: #DBE0F0;
  padding: 64px 0;
  .container-max-width{
    display: flex;
    flex-direction: column;
    gap: 24px;

    .logo_img{
      display: flex;
      align-items: center;
      gap: 16px;
      .logo_footer_text{
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-decoration: none;
        p{
          color: $link;
          font-weight: 550;
          font-size: 14px;
        }
        p:first-child{
          font-size: 16px;
        }
      }
    }
  }
}