@font-face {
  font-family: "Golos Text Bold";
  src: url("../fonts/familyGolos/Golos Text Bold.eot");
}
@font-face {
  font-family: "Golos Text Medium";
  src: url("../fonts/familyGolos/Golos Text Medium.eot");
}
@font-face {
  font-family: "Golos Text Regular";
  src: url("../fonts/familyGolos/Golos Text Regular.eot");
}
@font-face {
  font-family: "Golos Text SemiBold";
  src: url("../fonts/familyGolos/Golos Text SemiBold.eot");
}