@font-face {
  font-family: "GolosText-Bold";
  src: url("../fonts/familyGolos/GolosText-Bold.ttf");
}
@font-face {
  font-family: "Golos Text Medium";
  src: url("../fonts/familyGolos/GolosText-ExtraBold.ttf");
}
@font-face {
  font-family: "GolosText-Medium";
  src: url("../fonts/familyGolos/GolosText-Medium.ttf");
}
@font-face {
  font-family: "GolosText-Regular";
  src: url("../fonts/familyGolos/GolosText-Regular.ttf");
}
@font-face {
  font-family: "GolosText-SemiBold";
  src: url("../fonts/familyGolos/GolosText-SemiBold.ttf");
}